<% if @heart_day %>
<div class="list-group">
	<a href="#" class="list-group-item" id="heart-title">
		<h4 class="list-group-item-heading" id="activity-title">My Heart Rate Activity:</h4>
		<small class="text-muted hide" id="heart-date">last updated 
			<%=l @heart_day.date, format: :long %></small> 
	</a>
	<a href="#" class="list-group-item heart-data" id="peak-box">
		<h5 class="list-group-item-heading">Peak Intensity</h5>
		<p class="list-group-item-text heart-hide hide" id="peak-data">
			<%= @heart_day.high %> calories burned at a heart rate between 161 and 220 bpm
		</p>
	</a>
	<a href="#" class="list-group-item heart-data" id="med-box">
		<h5 class="list-group-item-heading">Medium Intensity</h5>
		<p class="list-group-item-text heart-hide hide" id="med-data">
			<%= @heart_day.med %> calories burned at a heart rate between 131 and 160 bpm
		</p>
	</a>
	<a href="#" class="list-group-item heart-data" id="low-box">
		<h5 class="list-group-item-heading">Low Intensity</h5>
		<p class="list-group-item-text heart-hide hide" id="low-data">
			<%= @heart_day.low %> calories burned at a heart rate between 96 and 130 bpm
		</p>
	</a>
	<a href="#" class="list-group-item heart-data" id="rest-box">
		<h5 class="list-group-item-heading">At Rest</h5>
		<p class="list-group-item-text heart-hide hide" id="rest-data">
			<%= @heart_day.rest %> calories burned at a heart rate below 95 bpm
		</p>
	</a>
</div>
<% else %>
	<div class='card empty'>No Heart Data :(</div>
<% end %>