<div class="backstretch" id="backstretch2">
	<div class="container dash-box">
		<%= render 'navbar' %> 

		<div class="dash-inner">

			<div class="col-md-4 heart-box">
				<%= render 'heart_menu' %>
				<%= render 'chart' %>
			</div>

			<div class="col-md-3">
				<%= render 'heart_rate' %>
			</div>

			<div class="col-md-5">
				<%= render 'create_playlist' %>
			</div>

			<div class="col-md-8">
				<%= render 'playlist_index' %>
			</div>

		</div>

	</div>
</div>
