<div class="backstretch" id="backstretch2">
	<div class="container dash-box">
		<div class="navbar"><%= image_tag("logo.png", width: "125") %></div>
		<div class="container-fluid col-md-5 heart-box">
			<%= render 'heart_menu' %>
			<div class="chart-box duck"><%= render 'chart' %></div>
			<div class="card heart-card">Resting Heart Rate: 
				<span id="rate-rate"><%= @heart_day.rest_rate %> bpm </span>
				<span id="hvr-pulse">♥</span>
			</div>
		</div>
		<div class="music-box col-md-7">
			<span><%= link_to 'Sign Out', '/logout', class: "btn btn-sm btn-success-outline r-align" %></span>
		</div>
	</div>
</div>